{% extends "account/email/email_layout.html" %}
{% block content %}
    {% autoescape off %}
        <p>
            Per recuperare la password per il tuo account con email {{ user.email }}
            clicca sul seguente link in basso.
        </p>
        <p style="text-align:center">
            <a class="button button-primary" href="{{ password_reset_url }}">Cambia la password</a>
        </p>
        <p>Se il link non funziona, compialo e incollalo nella barra degli indirizzi del tuo browser.</p>
    {% endautoescape %}
{% endblock content %}
