{% extends "layouts/base.html" %}
{% block page_title %}
    Password cambiata
{% endblock page_title %}
{% block content %}
    <div class="p-4">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="alert alert-success" role="alert">La tua password è stata cambiata con successo</div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock content %}
{% block topbar %}
    <div class="g-0 row">
        <div class="col-lg-12">
            <div class="row g-0 topbar-style">
                <div class="col-lg-4 d-flex justify-content-start align-items-center p-2">
                    {% include "widgets/home-button.html" %}
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center p-2 ">{% include "widgets/cart-button.html" %}</div>
            </div>
        </div>
    </div>
{% endblock topbar %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
