{% extends "layouts/base.html" %}
{% block page_title %}
    Recupera password
{% endblock page_title %}
{% block content %}
    <div class="row g-0 h-100 justify-content-center align-items-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="alert alert-success" role="alert">
                Segui le istruzioni che ti sono state inviate via email per resettare la tua password.
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock content %}
{% block topbar-left %}
    {% include "widgets/home-button.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
    {% include "widgets/cart-button.html" %}
    {% include "widgets/account-manage.html" %}
{% endblock topbar-right %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
