{% extends "layouts/email_layout.html" %}
{% load account %}
{% load i18n %}
{% block content %}
    <div>
        <p>Gentile cliente il tuo ordine è stato creato.</p>
        <p>
            <b>Codice ordine</b> : {{ order.id }}
        </p>
        <p>Totale da pagare alla consegna: {{ order.subtotal }} €</p>
    </div>
    <div>
        <p>
            <b>Cosa c'e nel tuo ordine</b>
        </p>
        <table style="width:100%">
            <thead>
                <tr>
                    <td>
                        <b>Nome</b>
                    </td>
                    <td>
                        <b>Prezzo</b>
                    </td>
                    <td>
                        <b>Quantità</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for item in order.order_details.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.unit_price }} €</td>
                        <td>{{ item.quantity }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
