{% extends "layouts/base.html" %}
{% block page_title %}
    Ordine pagato
{% endblock page_title %}
{% block topbar %}
    <div class="g-0 row">
        <div class="col-lg-12">
            <div class="row g-0 topbar-style">
                <div class="col-lg-4 d-flex justify-content-start align-items-center p-2">
                    {% include "widgets/global-search-form.html" %}
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center p-2 ">
                    {% include "widgets/cart-button.html" %}
                    {% include "widgets/account-manage.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock topbar %}
{% block content %}
    <div class="row g-0 flex-grow-1 ">
        <div class="col-lg-12 d-flex justify-content-center align-items-center flex-column">
            <div class="row g-0">
                <div class="alert alert-success" role="alert">Il tuo pagamento è stato inviato.</div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
