@import url('https://fonts.googleapis.com/css2?family=Smooch&family=Smooch+Sans:wght@100&display=swap');

html,
body {
    height: 100%;
}


.App {
    height: 100%;
    background-color: #8C0303;
}

.app-title {
    font-family: 'Smooch', cursive;
}

.ingredients {
    font-family: 'Smooch Sans', sans-serif;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #8C0303;
}

.nav-item {
    transition: background-color 500ms;

    .nav-link {
        color: black;
    }
}

.category-page {
    opacity: 1;
    transition: opacity 2s;
}

.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
}