{% extends "layouts/base.html" %}
{% block page_title %}
    Carrello
{% endblock page_title %}
{% block topbar-left %}
    {% include "widgets/global-search-form.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
    {% include "widgets/cart-button.html" %}
    {% include "widgets/account-manage.html" %}
{% endblock topbar-right %}
{% block nav %}
    <div class="g-0 row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            {% include "widgets/category-pills.html" %}
        </div>
    </div>
    <hr class="mt-4 ms-4 me-4 m-0" />
{% endblock nav %}
{% block content %}
    <div class="my-3">
        <div class="col-lg-12 p-4">
            <div class="col-lg-12 flex-grow-1">
                <div class="row g-0">
                    {% if not request.session.cart.items %}
                        <p>Non ci sono elementi nel carrello</p>
                    {% else %}
                        <div class="col-lg-12">
                            <div class="row g-0">
                                <div class="col-lg-12">
                                    <div class="row g-0">
                                        <div class="col-sm-12 col-md-6 col-lg-6 text-center text-sm-center text-md-start text-lg-start fw-bold">Cibo</div>
                                        <div class="col-sm-12 col-md-2 col-lg-2 fw-bold text-center" scope="col">Quantità</div>
                                        <div class="col-sm-12 col-md-2 col-lg-2 fw-bold text-center" scope="col">Prezzo</div>
                                        <div class="col-sm-12 col-md-2 col-lg-2 fw-bold text-center" scope="col">Azioni</div>
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-12 align-middle">
                                            {% for item in request.session.cart.items.values %}
                                                <div class="row g-0">
                                                    <div class="col-sm-12 col-md-6 col-lg-6 text-center text-sm-center text-md-start text-lg-start">{{ item.name }}</div>
                                                    <div class="col-sm-12 col-md-2 col-lg-2 text-center" scope="col">{{ item.quantity }}</div>
                                                    <div class="col-sm-12 col-md-2 col-lg-2 text-center" scope="col">{{ item.price }} €</div>
                                                    <div class="col-sm-12 col-md-2 col-lg-2 text-center" scope="col">
                                                        <div class="d-flex flex-row justify-content-center">
                                                            <form method="post" class="d-flex m-0" action="{% url 'increase-qty' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="food_id" value="{{ item.id }}" />
                                                                <button type="submit" class="btn btn-link">
                                                                    <i class="bi bi-bag-plus"></i>
                                                                </button>
                                                            </form>
                                                            <form method="post" class="d-flex m-0" action="{% url 'decrease-qty' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="food_id" value="{{ item.id }}" />
                                                                <button type="submit" class="btn btn-link">
                                                                    <i class="bi bi-bag-dash"></i>
                                                                </button>
                                                            </form>
                                                            <form method="post"
                                                                  class="d-flex m-0"
                                                                  action="{% url 'remove-from-cart' %}">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="food_id" value="{{ item.id }}" />
                                                                <button type="submit" class="btn btn-link">
                                                                    <i class="bi bi-bag-x"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-lg-6 col-sm-12 col-md-6"></div>
                                        <div class="col-lg-2 col-sm-12 col-md-2"></div>
                                        <div class="col-lg-2 col-sm-12 col-md-2 fw-bold text-center text-md-center text-lg-center">Totale</div>
                                        <div class="col-lg-2 col-sm-12 col-md-2 text-center">{{ request.session.cart.amount }} €</div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-lg-4">
                                        {% if user.is_authenticated %}
                                            <a class="btn btn-success" href="{% url 'checkout-consegna' %}">Ordina</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
