{% extends "layouts/base.html" %}
{% block page_title %}
    Carrello
{% endblock page_title %}
{% block topbar %}
    <div class="g-0 row">
        <div class="col-lg-12">
            <div class="row g-0 topbar-style">
                <div class="col-lg-4 d-flex justify-content-start align-items-center p-2">
                    {% include "widgets/global-search-form.html" %}
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center p-2 ">
                    {% include "widgets/cart-button.html" %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-link text-light" href="{% url 'profilo' %}"><i class="bi bi-globe2 pe-2"></i>Profilo</a>
                        <a class="btn btn-link text-light" href="{% url 'logout' %}"><i class="bi-box-arrow-right pe-2"></i>Esci</a>
                    {% else %}
                        {% include "widgets/login-button.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock topbar %}
{% block nav %}
    <div class="g-0 row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center">
            {% include "widgets/category-pills.html" %}
        </div>
    </div>
    <hr class="mt-4 ms-4 me-4 m-0" />
{% endblock nav %}
{% block content %}
    <div class="my-3">
        <div class="col-lg-12 p-4">
            <div class="col-lg-12 flex-grow-1">
                <div class="row g-0 ms-4 me-4">
                    {% if not request.session.cart_items %}
                        <p>Non ci sono elementi nel carrello</p>
                    {% else %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Cibo</th>
                                    <th class="text-center" scope="col">Quantità</th>
                                    <th class="text-center" scope="col">Prezzo</th>
                                    <th class="text-center" scope="col">Azioni</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in request.session.cart_items.values %}
                                    <tr class="align-middle">
                                        <td>{{ item.name }}</td>
                                        <td class="text-center">{{ item.quantity }}</td>
                                        <td class="text-center">{{ item.price }} €</td>
                                        <td class="text-center">
                                            <div class="d-flex flex-row justify-content-center">
                                                <form method="post" class="d-flex m-0" action="{% url 'increase-qty' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="food_id" value="{{ item.id }}" />
                                                    <button type="submit" class="btn btn-link">
                                                        <i class="bi bi-bag-plus"></i>
                                                    </button>
                                                </form>
                                                <form method="post" class="d-flex m-0" action="{% url 'decrease-qty' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="food_id" value="{{ item.id }}" />
                                                    <button type="submit" class="btn btn-link">
                                                        <i class="bi bi-bag-dash"></i>
                                                    </button>
                                                </form>
                                                <form method="post"
                                                      class="d-flex m-0"
                                                      action="{% url 'remove-from-cart' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="food_id" value="{{ item.id }}" />
                                                    <button type="submit" class="btn btn-link">
                                                        <i class="bi bi-bag-x"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td ></td>
                                    <td ></td>
                                    <td class="text-center">
                                        <b>Totale</b>
                                    </td>
                                    <td class="text-center">{{ request.session.cart_amount }} €</td>
                                </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
