{% extends "layouts/base.html" %}
{% block page_title %}
    Home
{% endblock page_title %}
{% block topbar %}
    <div class="g-0 row">
        <div class="col-lg-12">
            <div class="row g-0 topbar-style">
                <div class="col-lg-4 d-flex justify-content-start align-items-center p-2">
                    {% include "widgets/global-search-form.html" %}
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center p-2 ">
                    {% include "widgets/cart-button.html" %}
                    {% include "widgets/account-manage.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock topbar %}
{% block content %}
    <div class="row g-0 flex-grow-1 p-4">
        <div class="category-grid">
            {% for category in categories %}
                <a href="{% url 'category-show' slug=category.slug %}">
                    <div class="card bg-dark text-white h-100">
                        {% if category.image %}
                            <img height="100%"
                                 alt="Immagine per {{ category.name }}"
                                 width="100%"
                                 class="card-img opacity-75"
                                 src="{{ category.image }}"/>
                        {% endif %}
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{ category.name }}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
