{% extends "layouts/base.html" %}
{% load commerce_filters %}
{% block page_title %}
    Paga
{% endblock page_title %}
{% block content %}
    <div class="row g-0 flex-grow-1 p-4">
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript">
            // Create a Stripe client.
            var stripe = Stripe("{{STRIPE_PUBLIC_KEY}}");
            stripe.redirectToCassa({
              // Get the id field from the Cassa Session creation API response
                  sessionId: '{{Cassa_SESSION_ID}}'
              })
              .then(function (result) {
                  // If `redirectToCassa` fails due to a browser or network
                  // error, display the localized error message to your customer
                  // using `result.error.message`.
                  if (result.error) {
                      alert(result.error.message);
                  }
              })
              .catch(function (error) {
                console.error("Error:", error);
             });
        </script>
    </div>
{% endblock content %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
