{% extends "layouts/base.html" %}
{% block page_title %}
    Reset password
{% endblock page_title %}
{% block content %}
    <div class="row g-0 h-100 justify-content-center align-items-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="alert alert-success" role="alert">
                Il login con la tua nuova password è andato a buon fine. Adesso puoi proseguire nelle aree riservate del sito.
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock content %}
{% block topbar %}
    <div class="g-0 row">
        <div class="col-lg-12">
            <div class="row g-0 topbar-style">
                <div class="col-lg-4 d-flex justify-content-start align-items-center p-2">
                    <a class="btn btn-link text-light" href="{% url 'home' %}"><i class="bi bi-house pe-2"></i>Home</a>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center p-2 ">{% include "widgets/cart-button.html" %}</div>
            </div>
        </div>
    </div>
{% endblock topbar %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
