{% extends "layouts/base.html" %}
{% block page_title %}
    Recupera password
{% endblock page_title %}
{% block content %}
    <div class="row g-0 h-100 justify-content-center align-items-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="alert alert-success" role="alert">
                Segui le istruzioni che ti sono state invitate via email per resettare la tua password.
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock content %}
