{% extends "layouts/base.html" %}
{% block page_title %}
    Recupera password
{% endblock page_title %}
{% block content %}
    <div class="row g-0 h-100 justify-content-center align-items-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form method="post">
                {% csrf_token %}
                <div class="form-group pt-2">
                    <label>Email</label>
                    <input type="text"
                           name="email"
                           class="form-control {% if form.email.errors %}is-invalid{% endif %}"/>
                    {% if form.email.errors %}<div class="invalid-feedback">{{ form.email.errors }}</div>{% endif %}
                </div>
                <div class="form-group pt-4">
                    <button type="submit" class="btn btn-primary">Recupera password</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock content %}
{% block topbar-left %}
    {% include "widgets/home-button.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
    {% include "widgets/cart-button.html" %}
{% endblock topbar-right %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
