{% extends "layouts/base.html" %}
{% block page_title %}
    Form di contatto
{% endblock page_title %}
{% block content %}
    <div class="row p-4">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Invia messaggio</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock content %}
