{% load commerce_filters %}

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCategorie" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">  
        <ul class="list-group list-group-flush"> 
            <li class="list-group-item"><b>Categorie</b></li> 
            {% for cat in base_categories %}
                {% if request.path|contains:cat.slug %}
                <li class="list-group-item active"><a class="nav-link text-light" href="{% url 'categoria' permalink=cat.slug %}">{{cat.name}}</a></li>
                {% else %}
                <li class="list-group-item"><a class="nav-link text-dark" href="{% url 'categoria' permalink=cat.slug %}">{{cat.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul> 
        {% if user.is_authenticated %}
        <ul class="list-group list-group-flush"> 
            <li class="list-group-item"><b>Profilo</b></li>  
            <li class="list-group-item"><a class="nav-link text-dark" href="{% url 'account' %}">Il mio profilo</a></li>           
        </ul>    
        {% endif %}                                            
    </div>
</div> 