{% extends "layouts/base.html" %}
{% block page_title %}
  Profilo
{% endblock page_title %}
{% block content %}
  <div class="col-lg-12 p-4">
    <div class="row g-0">
      {% if messages %}
        <div class="alert alert-info">
          {% for message in messages %}
            <span>{{ message }}</span>
          </br>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <div class="row g-0 ms-4">
    <div class="col-12">
      <p>Bentornato {{ user.first_name }} {{ user.last_name }}</p>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-lg-3 pt-1 pe-1 ps-1">
      <a href="{% url 'le-mie-informazioni-view' %}"
         class="text-decoration-none">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-3 d-flex justify-content-end align-items-center">
                <i class="bi bi-person-badge"></i>
              </div>
              <div class="col-9 d-flex justify-content-start align-items-center ">Le mie informazioni</div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-3 pt-1 pe-1 ps-1">
      <a href="{% url 'profilo-ordini-list' %}" class="text-decoration-none">
        <div class="card">
          <div class="card-body">
            <div class="row ">
              <div class="col-3 d-flex justify-content-end align-items-center">
                <i class="bi bi-bag"></i>
              </div>
              <div class="col-9 d-flex justify-content-start align-items-center">I miei ordini</div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endblock content %}
{% block topbar-left %}
  {% include "widgets/home-button.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
  {% include "widgets/cart-button.html" %}
  {% include "widgets/account-manage.html" %}
{% endblock topbar-right %}
{% block header %}
  <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
