{% extends "layouts/base.html" %}
{% block page_title %}
    Categoria {{ category.name }}
{% endblock page_title %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
{% block nav %}
    <div class="col-lg-12">
        <div class="row g-0  pt-2 pb-2  bg-secondary">
            <div class="col-lg-12 d-flex justify-content-center align-items-center ">
                {% include "widgets/category-pills.html" %}
            </div>
        </div>
    </div>
{% endblock nav %}
{% block content %}
    <div class="row g-0 p-4 flex-grow-1">
        <div class="col-lg-12">
            <div class="row g-0">
                <h4 class="fw-light">Categoria {{ category.name|lower }}</h4>
            </div>
            <div class="row g-0">
                {% if category.foods.all %}
                    {% for food in category.foods.all %}
                        {% include "widgets/food-item.html" with item=food %}
                    {% endfor %}
                {% else %}
                    <p>Non ci sono cibi in questa categoria</p>
                {% endif %}
            </div>
            <div class="row g-0"></div>
            <div class="row g-0"></div>
        </div>
    </div>
{% endblock content %}
{% block topbar-left %}
    {% include "widgets/global-search-form.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
    {% include "widgets/cart-button.html" %}
    {% include "widgets/account-manage.html" %}
{% endblock topbar-right %}
