{% extends "layouts/base.html" %}
{% load commerce_filters %}
{% block page_title %}
    Ordine {{ object.id }}
{% endblock page_title %}
{% block topbar-left %}
    {% include "widgets/home-button.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
    {% include "widgets/cart-button.html" %}
    {% include "widgets/account-manage.html" %}
{% endblock topbar-right %}
{% block content %}
    <div class="col-lg-12 bg-secondary p-3">
        <div class="row g-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a class="text-light" href="{% url 'impostazioni.profilo.index' %}">Profilo</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="text-light" href="{% url 'profilo.ordine.list' %}">I miei ordini</a>
                    </li>
                    <li class="breadcrumb-item active text-light" aria-current="page">Ordine {{ object.id }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="col-lg-12 flex-grow-1 p-4">
        <div class="row g-0">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags|contains:'profilo-ordini' %}
                        <div class="alert alert-success">
                            <span>{{ message }}</span>
                            <br/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row g-0">
                <h4>Dettagli ordine {{ object.id }}</h4>
            </div>
            <div class="row g-0">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cibo</th>
                                <th class="text-center" scope="col">Quantità</th>
                                <th class="text-center" scope="col">Prezzo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in object.order_details.all %}
                                <tr class="align-middle">
                                    <td>{{ item.name }}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                    <td class="text-center">{{ item.price }} €</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-center">
                                    <b>Totale</b>
                                </td>
                                <td class="text-center">{{ object.subtotal }} €</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
