{% extends "layouts/base.html" %}
{% load commerce_filters %}
{% block page_title %}
    I miei ordini
{% endblock page_title %}
{% block topbar-left %}
    {% include "widgets/home-button.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
    {% include "widgets/cart-button.html" %}
    {% include "widgets/account-manage.html" %}
{% endblock topbar-right %}
{% block content %}
    <div class="col-lg-12 bg-secondary p-3">
        <div class="row g-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a class="text-light" href="{% url 'impostazioni.profilo.index' %}">Profilo</a>
                    </li>
                    <li class="breadcrumb-item active text-light" aria-current="page">I miei ordini</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="col-lg-12 flex-grow-1 p-4">
        <div class="row g-0">
            <h4>I mei ordini</h4>
        </div>
        <div class="row g-0">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <th>#</th>
                            <th>Stato</th>
                            <th>Totale</th>
                            <th>Azioni</th>
                        </thead>
                        <tbody>
                            {% for row in object_list %}
                                <tr>
                                    <td>{{ row.id }}</td>
                                    <td>
                                        <span class="{{ row.order_status.badge_css_class }}">{{ row.order_status.description }}</span>
                                    </td>
                                    <td>€ {{ row.subtotal|floatformat:2|intdot }}</td>
                                    <td>
                                        <a class="text-decoration-none"
                                           href="{% url 'vendite.ordine.dettaglio' pk=row.id %}">
                                            <i class="bi bi-three-dots"></i> Dettaglio
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
