{% extends "account/email/email_layout.html" %}
{% load account %}
{% load i18n %}
{% block content %}
    <p>Gentile cliente hai pagato il tuo ordine.</p>
    <p>
        <b>Codice ordine</b> : {{ order.id }}
    </p>
    <p>Totale pagato: {{ order.subTotal }} €</p>
    <b>Cosa c'e nel tuo ordine</b>
    <br />
    <table style="width:100%">
        <thead>
            <tr>
                <td style="font-weight:bold">Nome</td>
                <td style="font-weight:bold">Prezzo</td>
                <td style="font-weight:bold">Quantità</td>
            </tr>
        </thead>
        <tbody>
            {% for item in order.order_details.all %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }} €</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
