{% extends "layouts/base.html" %}
{% load commerce_filters %}
{% block page_title %}
    Le mie informazioni
{% endblock page_title %}
{% block content %}
    <div class="col-lg-12 p-4">
        {% if messages %}
            <div class="row mb-4">
                <div class="col-12">
                    {% for message in messages %}
                        {% if message.tags|contains:'informazioni-profilo'  %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row g-0">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'profilo' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'le-mie-informazioni-view' %}">Informazioni personali</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Modifica</li>
                </ol>
            </nav>
        </div>
        <div class="row g-0">
            <div class="col-12">
                <h4>Le mie informazioni</h4>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="row pt-4">
                        <div class="col-lg-6">
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Nome</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="first_name"
                                           class="form-control {% if form.first_name.errors %}is-invalid{% endif %}"
                                           value="{{ form.first_name.value }}"/>
                                    {% if form.first_name.errors %}<div class="invalid-feedback">{{ form.first_name.errors }}</div>{% endif %}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-2 col-form-label">Cognome</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="last_name"
                                           class="form-control {% if form.last_name.errors %}is-invalid{% endif %}"
                                           value="{{ form.last_name.value }}"/>
                                    {% if form.last_name.errors %}<div class="invalid-feedback">{{ form.last_name.errors }}</div>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-pencil-square"></i>
                                Salva
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block topbar %}
    <div class="g-0 row">
        <div class="col-lg-12">
            <div class="row g-0 topbar-style">
                <div class="col-lg-4 d-flex justify-content-start align-items-center p-2"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center p-2 ">
                    {% include "widgets/cart-button.html" %}
                    {% if user.is_authenticated %}
                        <a class="btn btn-link text-light" href="{% url 'profilo' %}"><i class="bi bi-globe2 pe-2"></i>Profilo</a>
                        <a class="btn btn-link text-light" href="{% url 'logout' %}"><i class="bi-box-arrow-right pe-2"></i>Esci</a>
                    {% else %}
                        {% include "widgets/login-button.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock topbar %}
{% block header %}
    <div class="g-0 row">{% include "widgets/header.html" %}</div>
{% endblock header %}
{% block topbar-left %}
    {% include "widgets/home-button.html" %}
{% endblock topbar-left %}
{% block topbar-right %}
    {% include "widgets/cart-button.html" %}
    {% include "widgets/account-manage.html" %}
{% endblock topbar-right %}
